.tile {
  background-color: #f6e9c1;
  border: 2px solid black;
  cursor: pointer;
}

.tile button:hover {
  background-color: #c4fdf2;
}

.tile button {
  height: 96px;
  width: 96px;
  border: none;
  background-color: #f6e9c1;
  cursor: pointer;
}

.tile button:focus {
  background-color: #5ac7b0;
}


.tile img {
  height: 70px;
}